%div#toDoListView
  %h1 ToDo App

  %input#newToDoText(type='text')
  %button#addNewToDo Add 

  %table
    %thead
      %tr
        %td Description
        %td Done?
        %td Options
      %tbody#toDoList
